<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Riders Point::Trusfull Point For Riders</title>
    <%-include("../../template/favIconHTML.ejs")%>
    <%-include("../../template/NavBarCssLink.ejs")%>
    <%-include("../../template/userIndexCssLink.ejs")%>
    <meta http-equiv="Content-type" content="text/javascript" />
  </head>
  <body>
    <%- include("../../template/overlay.ejs")%> <%-
    include("../../template/navBarHTML.ejs")%>
    <p><%= admin %></p>
    <script type="text/javascript" src="/js/mobile/navBarJS.js"></script>
    <script type="text/javascript" src="/js/mobile/userIndex.js"></script>

    <script src="/js/mobile/navBarJS.js"></script>
    <script src="/js/mobile/userIndex.js"></script>
  </body>
</html>
